<!DOCTYPE html>

<html>
  <form action="/recipes" method="post">
    
    <h1>Create a new recipe</h1>
    <h2>Name: <input type="text" name="name"></h2>
    <h3>Name: <input type="text" name="ingredients"></h3>
    <h4>Name: <input type="text" name="cook_time"></h4>
    <input type="submit" name="submit">
    
  </form>
  
  
</html>